/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* GLOBAL */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #0f172a, #1e293b);
    color: white;
}

/* LOGIN PAGE ------------------------------------------------------- */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #1e293b;
    padding: 35px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    animation: fadeIn 0.7s ease;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background: #334155;
    color: white;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

.login-box input:focus {
    background: #475569;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #3b82f6;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.login-box button:hover {
    background: #2563eb;
}

/* DASHBOARD -------------------------------------------------------- */

.header-title {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: 600;
}

.dashboard {
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    animation: fadeIn 0.7s;
}

.card h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.value {
    font-size: 40px;
    margin-top: 15px;
    font-weight: 700;
    text-align: right;
}

.btn-toggle {
    width: 100%;
    padding: 12px;
    background: #dc2626;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s;
}

.btn-toggle.on {
    background: #16a34a;
}

/* ANIMASI -------------------------------------------------------- */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
}